.infoBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7.5rem;
  width: 9rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.infoBox:hover {
  height: 7.5rem;
  width: 9rem;
}
#red:hover {
  background-color: rgb(173, 98, 104);
  /* background-color: rgb(2, 226, 51); */
}
#green:hover {
  background-color: rgb(96, 167, 111);
}
#blue:hover {
  background-color: rgb(88, 137, 177);
}
#grey:hover {
  background-color: rgb(10, 10, 10);
}
.infobox_title {
  font-size: 1rem;
}
.infoBox_cases {
  font-size: 0.8rem;
}
.infoBox_total {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .infoBox {
    margin-right: 2px;
    width: 80px;
  }
  .infobox_title {
    font-size: 5px;
  }
  .infoBox_cases {
    font-size: 10px;
  }
  .infoBox_total {
    font-size: 10px;
  }
  .infoBox:hover {
    width: 80px;
  }
}
