.map {
  height: 65vh;
  width: 50vw;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-left: 0;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  /* margin-top: 40px; */
}

.map .leaflet-container {
  height: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}
.info-flag {
  height: 75px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
@media (max-width: 1025px) {
  .map {
    width: 80vw;
  }
}
